<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315470198536-pt511dqv1m0fv9p4k1aeol4abrb9kgjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315470198536-pt511dqv1m0fv9p4k1aeol4abrb9kgjg</string>
	<key>API_KEY</key>
	<string>AIzaSyDA780xhCKTZpzDv_OnEO--F5ZtiJuauHM</string>
	<key>GCM_SENDER_ID</key>
	<string>315470198536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.s4katusa.S4-Upmu-0</string>
	<key>PROJECT_ID</key>
	<string>s4-upmu-0</string>
	<key>STORAGE_BUCKET</key>
	<string>s4-upmu-0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315470198536:ios:d3dc0c26dd92ef879e5ebd</string>
	<key>DATABASE_URL</key>
	<string>https://s4-upmu-0.firebaseio.com</string>
</dict>
</plist>